* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/road.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header {
  background-color: #222;
  color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 75px;
  width: 100%;
}

header > nav > span > a > img {
  width: 75px;
  margin-left: 25px;
}

header > nav > span > a > img:hover {
  border-radius: 5px;
  background-color:  rgba(0,255,0,0.3);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

header > nav > ul {
  margin-right: 20px;
}

header > nav > ul > li {
  list-style-type: none;
}

.dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: right;
  margin-right: 20px;
  position: relative;
  bottom: 75px;
  transition: box-shadow .3ms;
}

.dot:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.dot:first-child {
  background-color: red;
}

.dot:nth-child(2) {
  background-color: #fdc613ff;
}

.dot:nth-child(3) {
  background-color: green;
}

nav {
  height: 75px;
  width: 100%;
  position: relative;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 660px;
}

main > section.intro {
  position: relative;
  z-index: -1;
  bottom: 45px;
  height: 500px;
}

main > section.intro > div {
  position: absolute;
  bottom: 60px;
  left: 150px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

main > section.intro > div > h1 {
  margin-top: 100px;
  font-size: 70px;
  margin-bottom: 10px;
  font-family: 'Righteous', cursive;
}

main > section.intro > img {
  width: 100%;
}

main > section#product-container {
  height: 255px;
  width: 100%;
}

main > section#product-container > div:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main > section#product-container > div {
  transition: box-shadow .3s;
  float: left;
  margin-left: 7px;
  margin-right: 7px;
  border: 3px solid #eee;
  border-radius: 5px;
  text-align: center;
  background-color: lightcyan;
}

main > section#product-container > img.bus-image {
  width: 100%;
  margin-top: 15px;
}

.dot:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

main > section > div > img {
  width: 200px;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}

#results-container {
  width: 660px;
  height: 660px;
  margin: auto;
  margin-top: 550px;
  margin-bottom: 400px;
  text-align: center;
}

#results-container > h1 {
  font-family: 'Righteous', cursive;
  font-size: 80px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 15px;
}

#results-container > h3 {
  margin-top: 50px;
}

#results-container > a {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

footer {
  background-color: #222;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-align: right;
}

footer > ul {
  position: relative;
  top: 10px;
  margin-right: 26px;
}

footer > ul > li {
  display: inline;
}

footer > ul > li:first-child {
  font-size: 12px;
}

footer > ul > li:nth-child(2) > a {
  font-family: 'Pacifico', cursive;
  text-decoration: none;
  color: green;
}

footer > ul > li:nth-child(2) > a:hover {
  -webkit-transition: color 1000ms linear;
  -ms-transition: color 1000ms linear;
  transition: color 1000ms linear;
  color: yellow;
}
